@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
  .join_now_responsiveness {
    width: 90%;
  }
}
